@page "/"

@inject IViewInventoriesByNameUseCase ViewInventoriesByNameUseCase

<PageTitle>Test Page</PageTitle>

<h1>Hello, world!</h1>

<ul>
    @if (inventories is not null && inventories.Count > 0)
    {
        foreach(var inv in inventories)
        {
            <li>
                @inv.InventoryName
            </li>
        }
    }
</ul>

Welcome to your new app.

<br/>
<br/>

@code {
    private List<Inventory>? inventories;

    protected override async Task OnInitializedAsync()
    {
        inventories = (await ViewInventoriesByNameUseCase.ExecuteAsync("")).ToList();
    }
}