@page "/"

@inject IViewInventoriesByNameUseCase ViewInventoriesByNameUseCase

<PageTitle>ITMS</PageTitle>

<h1>Inventory Management System</h1>

<p>Welcome to the Inventory-Management-System</p>

@code {
    private List<Inventory>? inventories;

    protected override async Task OnInitializedAsync()
    {
        inventories = (await ViewInventoriesByNameUseCase.ExecuteAsync(string.Empty)).ToList();
    }
}
